@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@800&display=swap');

body {
  background-color: #191d20;
  font-family: 'Montserrat', sans-serif;
}



.navbar {
  background-color: #212529;
}

.navtxt {
color: #0000ff;
}

.navbar-nav::before {
  
}

.main {
  
 font-size: 42px;
  margin: 15px;
  padding: 1px;
  font-family: 'Raleway', sans-serif;
  color: #ebebeb
}

.navbar-brand{
  font-size: 27px
}

.navbar-toggler{
  background: #191d20; /* Цвет фона */
  
}


.bio {
  margin: 25px;
  padding: 10px;
  color: #ebebeb;
  padding: 10px;
}

.card {
  margin: 30px;
  color: #fff;
  background-color: #212529;
  border: 6px solid #212529;
  border-radius: 25px;
}

.twocard {
top: 30px;
left: 30px;
  color: #fff;
}

footer {
    
   left:0px;
   bottom:1px;
   height:30px;
   width:100%;
    justify-content: center;
    padding: 5px;
    background-color: #000620;
    color: #fff;
}

.navbar-toggler {
  size: 5px;
}
